.timer {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}
.heading {
    font-size: 25px;
    margin: 15px 5px;
    font-family: 'Roboto', sans-serif;
}

button {
    font-size: 16px;
    margin: 10px 5px;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 8px;
    background-color: rgba(0, 128, 0, 0.51);
    font-family: 'Roboto', sans-serif;
    &:disabled {
        background-color: rgba(204, 204, 204, 0.5);
    }
}

.comment-box {
    border: 1px solid #cccccc;
    background-color: rgba(23, 52, 60, 0.44);
    max-width: 600px;
    max-height: 300px;
    overflow: auto;
    margin: auto;
    border-radius: 3px;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.3);
    .header {
        font-size: 18px;
        margin: 15px 0;
        text-align: center;
    }
    .split-row {
        margin: 15px 0;
        span.fa-times {
            cursor: pointer;
            &:hover {
                color: rgba(255, 0, 0, 0.85);
            }
        }
    }
}


//.comment-box span {
//    display: inline-block;
//    margin: 10px 20px;
//}
